<!DOCTYPE html>
<html>
<head>
  <title>LsTrivia</title>
  <%= stylesheet_link_tag    "dashboard", :media => "all" %>
  <%= javascript_include_tag "dashboard" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= javascript_tag do %>
  window.pusherKey = "<%= j ENV['PUSHER_KEY'] %>";
<% end %>

<%= yield %>

</body>
</html>
